<header>
  <%= @room.title %>
</header>

<div class="container-fluid chat-container">
  <div class="row" data-room-id="<@room_id>">

    <div class="panel panel-default">
      <div class="panel-body" id="messages">
        <% @messages.each do |message| %>
          <%= render partial: 'messages/message', locals: { message: message } %>
        <% end %>
      </div>
    </div>
     <%= render partial: 'messages/form', locals: {room: @room} %>
  </div>
</div>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

